@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.event-option > summary {
    list-style: none;
    cursor: pointer;
}
.event-option[open] > summary::before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: block;
    content: " ";
    background: transparent;
}

@keyframes SlideIn {
    0% {
      opacity: 0;/*初期状態では透明に*/
      transform: translateX(64px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .animate-SlideIn {
    animation: SlideIn 0.5s ease-in forwards;
  }
  

  